// Fonts

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$blue: #3F51B5;
$black: #212121;

body {
    padding-top: 51px;
}

.c-footer {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: .9em;

    a {
        color: $black;
    }
}

.t-sponsored {
    background-color: $blue;
    color: #fff;
    text-align: center;
    padding: 2em;
}

.u-background--primary {
    background-color: $primary;
}

.u-white {
    color: #fff;
}

.c-hero {
    padding: 4em 2em;
}

.c-feature-set {
    padding: 4em 2em;
}

.u-fs--ultra {
    font-size: 2em;

    @include media-breakpoint-up(sm) {
        // width: 100%;
    }
    @include media-breakpoint-up(md) {
        font-size: 3em;
    }
    @include media-breakpoint-up(lg) {
        font-size: 4em;
    }
}

.btn-black {
    @include button-variant($black, $black);
}
