@use "sass:color";

// Override Bootstrap's variables here
$primary: #FF5722;
$body-bg: #f5f8fa;

// Import Bootstrap's functions and variables
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

// Your custom variables
$laravel-border-color: color.scale($body-bg, $lightness: -10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
$input-border: color.scale($body-color, $lightness: 40%);
$input-border-focus: color.scale($primary, $lightness: 25%);
$input-color-placeholder: color.scale($body-color, $lightness: 30%);

// Brands
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: -apple-system,BlinkMacSystemFont,'avenir next',avenir,helvetica,'helvetica neue',ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #fff;

// Container Sizes
$grid-gutter-width: 30px;
$container-large-desktop: 900px + $grid-gutter-width;
